// mixin borderImage parameters
$widthBorderImg: 2px;
$styleBorderImg: solid;
$colorBorderImg: #fccd10;
$paddingImg: 2px;

// color parameters
$contentBackground: #3b3b3b;
$pageBackground: #e0f6fd;
$fontColor: #ffffff;
$headingsColor: #fccd10;
$backgroundTh: #94a34e;
$backgroundTd: #677d01;
$formColor: #fccd10;
$colorButton: #fccd10;
$colorLink: #f5c726;

// switch div.brief styles
$switchBrief: false;

// text-transform for H1
$headingH1Text: uppercase;

// border-right width for 1st th
$firstThBorder: 2px;

