// mixin borderImage parameters
$widthBorderImg: 2px;
$styleBorderImg: solid;
$colorBorderImg: #893c00;
$paddingImg: 2px;

// color parameters
$contentBackground: #ffffff;
$pageBackground: #dcbb9a;
$fontColor: #000000;
$headingsColor: #893c00;
$backgroundTh: #e0e0e0;
$backgroundTd: #ffffff;
$formColor: #808080;
$colorButton: #3d70b6;
$colorLink: #3d70b6;

// switch div.brief styles
$switchBrief: true;

// text-transform for H1
$headingH1Text: none;

// border-right width for 1st th
$firstThBorder: 1px;